.main_div {
    top: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 80%;
    height: 300px;
}

.input_box:HOVER,
.input_box:focus {
    -webkit-transition: border linear .1s, -webkit-box-shadow linear .2s;
    border-color: rgba(141, 39, 142, .75);
    -webkit-box-shadow: 0 0 18px rgba(0, 46, 255, 3);
}

.input_box {
    height: 20px;
    width: 100px;
}

.b {
    color: rgb(222, 235, 241);
    border: 1px rgb(49, 173, 229) solid;
    background: rgb(53, 186, 246);
    border-radius: 10px;
    width: 90px;
    height: 26px;
}
.warn{
    color: red;
    display: inline-block;
    /* line-height: 21px; */
    /* text-align: center; */
}

/* .div1 {
    top: 100px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 100%;
    height: 100px;
} */

.input_box_PC {
    height: 23px;
    width: 55px;
    text-align: center;
    line-height: 21px;
    border: none;
    color: #2579e1;
    -webkit-transition: border linear .1s, -webkit-box-shadow linear .2s;
    border-color: rgba(141, 39, 142, .75);
    /* border-radius: 10px; */
    -webkit-box-shadow: 0 0 18px rgba(0, 46, 255, 3);
    /* background:none; */
    /* background-image: url(../images/input_V.png); */
    /* background-repeat:no-repeat; */
}

#input_phone {
    display: none;
}
#input_email{
    display: none;
}

.div2 {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 225px;
    text-align: left;
    /* margin-left: 20%; */
    /* display: none; */
}

.div2_son {
    margin: 10px 10px;
}

input {
    vertical-align: middle;
}

label {
    vertical-align: middle
}

body {
    font-family: tahoma Verdana;
    font-size: 16px;
}
